<% if logged_in? %>
    <p><%= link_to "Medium", home_path%> | <%=@user.name%>  |  <%= link_to "Interests", my_interests_path%>| <%= link_to "New Post", new_post_path%>  | <%= link_to "My Posts", user_posts_path(@user)%>  |  <%= link_to "Log out", logout_path, method: :delete %></p>
<% else %>
    <p> <%= link_to "Log in", login_path%> | <%= link_to "Sign up", signup_path%></p>
<% end %>